<div class="container"> 
    <h2>Les neufs premiers Pokémon : </h2> 
    <hr /> 
    <div class="columns"> 
        <div class="column"> 
            <p>Dans l'ordre du Pokédex : </p> 
        </div> 
    </div> 
    <div class="columns is-multiline"> 
        <ul class="menu-list column is-one-third" *ngFor="let pokemon of pokemons"> 
            <li> 
                <a>{{pokemon.nom}}</a> 
                <ul class="menu-list"> 
                    <img src="{{pokemon.img}}" /> 
                    <li>Catégorie : {{pokemon.categorie}}</li> 
                    <li>Type : {{pokemon.type}}</li> 
                    <li>Taille : {{pokemon.taille | number : '1.0-2'}}m</li> 
                    <li>Poids : {{pokemon.poids | number : '1.0-2'}}kg</li> 
                    <ng-template #na>N/A</ng-template> 
                </ul> 
            </li> 
        </ul> 
    </div> 
 </div> 