<!-- C:\JavaScriptEtAngular\Angular\PokemonManager\src\app\
composants\generations\generation.component.html → -->
<div class="container"> 
    <h2>Générations de Pokémon : </h2> 
    <hr /> 
    <div class="menu"> 
        <p class="menu-label">Les différentes générations : </p> 
        <ul class="menu-list" *ngFor="let generation of generations"> 
            <li> 
                <a>{{generation}}</a> 
            </li> 
        </ul> 
    </div> 
 </div> 